[Desktop Entry]
Name=Antiloop Chiru
Comment=Native Markdown viewer
Exec=main.py %U
Icon=com.antiloop.MarkdownViewer
Terminal=false
Type=Application
Categories=Office;Viewer;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
